.Manufacturers {
    background-color: #F3F7FC;
    width: 1440px;
    display: flex;
    justify-content: center;
}

.Manufacturers__shell {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 1110px;
}

.Manufacturers__contant {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Manufacturers__title {
    align-self: left;
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 30px;
}

.Manufacturers__slider {
    height: 260px;
}

.Manufacturer__item {
    box-sizing: border-box;
    width: 160px !important;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Manufacturer__item-caption {
    width: 160px;
    height: 100px;
    background-color: white;
}

.Manufacturer__item-caption2 {
    width: 160px;
    height: 100px;
    margin-top: 30px;
    background-color: white;
}

.Manufacturers__contant button.slick-arrow.slick-prev::before {
    position: absolute;
    content: '';
    z-index: 3;
    right: -1115px;
    top: -305px;
    width: 50px ;
    height: 50px ;
    border-radius: 50%;
    background: url('../images/newitems-arrow-right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.Manufacturers__contant button.slick-arrow.slick-next::before {
    position: absolute;
    content: '';
    z-index: 3;
    left: -120px;
    top: -305px;
    width: 50px ;
    height: 50px ;
    border-radius: 50%;
    background: url('../images/newitems-arrow-left.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

@media all and (max-width: 1460px) {
    .Manufacturers {
        width: 400px;
    }

    .Manufacturers__shell {
        width: 400px;
    }

    .Manufacturers__title {
        font-size: 13px;
        padding-left: 60px;
    }

    .Manufacturers__slider {
        padding-left: 10px;
    }

    .Manufacturers__contant button.slick-arrow.slick-prev::before {
        right: -390px;
    }

    .Manufacturers__contant button.slick-arrow.slick-next::before {
        left: -399px;
    }
}